<%- include('partials/header') %>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <!-- <h1 class="h3 mb-4 text-gray-800"> Single Bug </h1> -->
    <!-- TODO: Fix line abve -->
  </div>
  <!-- /.container-fluid -->
  <div class="row mt-5">
    <div class="col-lg-6 mx-auto">
      <div class="card shadow mb-4">
        <div class="card-header">
          <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
              <h5 class="nav-link pl-2 mb-0"> Bug View </h5>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/edit/<%= bug._id %> ">Edit</a>
            </li>
            <li class="nav-item ml-3">
              <a class="nav-link btn-danger" href="/delete/<%= bug._id %> ">Delete</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h3>Name</h3>
              <p>
                <%= bug.name %>
              </p>
              <br>
            </div>
            <div class="col">
              <h3>Time</h3>
              <p>
                <%= moment(bug.time).subtract(6, 'days' ).calendar(); %>
              </p>
            </div>
          </div>
          <h3>Description</h3>
          <p>
            <%= bug.description %>
          </p>
          <br>
          <div class="row">
            <div class="col">

              <h3>Importance</h3>
              <p>
                <%= bug.importance %>
              </p>

            </div>
            <div class="col">
              <h3>Assigned To</h3>
              <p>
                <%= bug.duty.name %>
              </p>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  </div>
  <!-- End of Main Content -->

  <!-- Footer -->
  <footer class="sticky-footer bg-white">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright &copy; Your Website 2020</span>
      </div>
    </div>
  </footer>
  <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  </body>

  </html>