<%- include('partials/header.ejs') %>   
                    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-4 text-gray-800">Edit Bug</h1>

    </div>
    <!-- /.container-fluid -->
    <div class="row">
        <div class="col-lg-6 mx-auto">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Edit Bug</h6>
                </div>
                <div class="card-body">
                    <form action="/edit/<%= bug._id %> " method="post">
                        <div class="form-group">
                            <label for="name">name</label>
                            <input type="text" class="form-control" id="name" name="name" value="<%= bug.name %>"
                                required />
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea type="text" class="form-control" id="description" name="description" /><%= bug.description %></textarea>
                        </div>
                        <div class="row">
                            <div class="col">

                                <div class="form-group">
                                    <!-- there is JQuery below to choose proper option -->
                                    <label for="importanace">Importance</label>
                                    <select class="form-control inputstl" name="importance" id="importance">
                                        <option value="5" <% if(bug.importanace==5) %> >🔥</option>
                                        <option value="4">☀️</option>
                                        <option value="3">🌤</option>
                                        <option value="2">🌧</option>
                                        <option value="1">🧊</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">

                                <div class="form-group">
                                    <label for="progress">Progress</label>
                                    <select class="form-control inputstl" name="progress" id="progress">
                                        <option value="closed">closed</option>
                                        <option value="in-progress">in progress</option>
                                        <option value="potential-fix">potential fix</option>
                                        <option value="no-progress">no progress</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="duty">duty</label>
                            <select class="form-control inputstl" name="duty" id="duty">
                                <% usersList.forEach((user, i)=> { %>
                                    <option value="<%= user._id %>">
                                        <%= user.name %>
                                    </option>
                                    <% }) %>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
    <%- include('partials/footer.ejs') %> 