<%- include('partials/header.ejs') %>

    <!-- Begin Page Content -->
    <!-- <script src='../plot.js'></script> -->
    </head>

    <body>


        <div class="card">
            <div class="card-body">
                <div id="plot"></div>
            </div>
        </div>

        <h1>
        </h1>
    </body>

    <div id="noProgress" data-plot=<%= noProgress %> ></div>
    <div id="inProgress" data-plot=<%= inProgress %> ></div>
    <div id="potentialFix" data-plot=<%= potentialFix %> ></div>
    <div id="closed" data-plot=<%= closed %> ></div>

    <script>
        let noProgress2 = parseInt(document.getElementById('noProgress').dataset.plot)
        let inProgress2 = parseInt(document.getElementById('inProgress').dataset.plot)
        let potentialFix2 = parseInt(document.getElementById('potentialFix').dataset.plot)
        let closed2 = parseInt(document.getElementById('closed').dataset.plot)
        total =  noProgress2 + inProgress2 + potentialFix2 + closed2;
       console.log(noProgress2);        
       console.log(inProgress2);        
       console.log(potentialFix2);
       console.log(closed2);
        var data = [{
            values: [
                noProgress2,
                inProgress2,
                potentialFix2,
                closed2
            ],
            labels:  [
                'noProgress',
                'inProgress',
                'potentialFix',
                'closed'
            ],
            type: 'pie'
        }];


        TESTER = document.getElementById('plot');
        Plotly.newPlot(TESTER, data);
    </script>
    <%- include('partials/footer.ejs') %>