<%- include('partials/header.ejs') %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->

        <h1>Current Projects:</h1>
        <br>
        <br>

        <div class="row">
            <% projectList.forEach((project, i)=> { %>
                <div class="col-sm-6 col-12 pb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="img/<%= project.name %>.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/project/<%= project._id %> "></h5>
                            <p class="card-text">
                                <%= project.name %>
                            </p>
                            <a href="/project/<%= project._id %>" class="btn btn-primary">Bug List</a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>

    </div>
    </div>

    </div>
    </div>
    <!-- /.container-fluid -->

    </div>
    <%- include('partials/footer.ejs') %>