<% var title2 = title %>
<% var isAuthenticated2 = isAuthenticated %> 
<%- include('partials/header.ejs', {
    isAuthenticatedHeader : isAuthenticated2,
    title : title2}) %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->

        <h3>Current Projects:</h3>
        <br>
        <br>

        <div class="row">
            <% projectList.forEach((project, i)=> { %>
                <div class="col-sm-6 col-12 pb-4">
                    <div class="card h-100">
                        <img class="card-img-top" src="img/<%= project.name %>.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><a href="/projects/<%= project._id %> "></h5>
                            <!-- <h3 class="card-text">
                                <%= project.name %>
                            </h3> -->
                            <a href="/projects/<%= project._id %>" class="btn btn-primary">Ticket List</a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>

    </div>
    </div>

    </div>
    </div>
    <!-- /.container-fluid -->

    </div>
    <%- include('partials/footer.ejs') %>