
<% var isAuthenticated2 = isAuthenticated %> 
<%- include('partials/header.ejs', {isAuthenticatedHeader : isAuthenticated2}) %>
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800 pl-2">All bugs</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bugs 🪳</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th>description</th>
                                <th>importance</th>
                                <th>progress</th>
                                <th>duty</th>
                                <th>time</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>name</th>
                                <th>description</th>
                                <th>importance</th>
                                <th>progress</th>
                                <th>duty</th>
                                <th>time</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            <% bugList.forEach((bug, i)=> { %>
                                <tr>
                                    <td> <a href="/bug/<%= bug._id %> ">
                                            <%= bug.name %>
                                        </a></td>
                                    <td>
                                        <%= bug.description.substring(0,40) + '...' %>
                                    </td>
                                    <td>
                                        <%= bug.importance %>
                                    </td>
                                    <td>
                                        <%= bug.progress %>
                                    </td>
                                    <!-- .name is not working because some bugs don't have a duty object, add yourself as duty for all, this should fix it -->
                                    <td>
                                        <%= bug.duty.name %>
                                    </td>
                                    <td>
                                        <%= moment(bug.time).format('MM/DD/YY h:mm'); %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

    </div>
<%- include('partials/footer.ejs') %>